.login-form label {	
}

.login-form div {
	display: inline-block;
}

div.form-input {}



#username, #password {
	margin: 5px;
}

@media all and (max-width: 330px) {
	#username, #password {
		margin: 5px;
	}
}

input {
	/*margin: 10px;*/
	color: #454227;
	background-color: #f3f2ed;
	border: 2px solid #64635533;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

.login-button {}

.demo-account {}

@media all and (max-width: 500px) {
	.demo-account {}
}