.close {
	box-sizing: border-box;
	background-color: #db8057;
	color: #ffffff;
	border: none;
	border-radius: 2px;
	height: 40px;
	width: 60px;
	padding: 0 5px;
	margin: 10px 0;
	cursor: pointer;
}

.study-group img {
	object-fit: cover;
	height: 200px;
	margin-bottom: 10px;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

.study-group li {
	list-style: none;
	background-color: #f3f2ed;
	border: 1px solid #454227;
	border-radius: 15px;
	padding: 10px;
	margin: 15px;
	width: 300px;
	display: inline-block;
}

h3 {
	margin-top: 20px;
}

h2 {
	margin: 10px;
}