.close {
	background-color: #db8057;
	box-sizing: border-box;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 60px;
	padding: 0 5px;
	margin: 10px 0;
	cursor: pointer;
}

.study-group img {
	object-fit: cover;
	height: 200px;
	margin-bottom: 10px;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 6px;
}

.study-group li {
	list-style: none;
	background-color: #f3f2ed;
	border: 1px solid #454227;
	border-radius: 15px;
	padding: 10px;
	margin: 15px;
	width: 300px;
	display: inline-block;
}

.study-group p {
	margin-bottom: 7px;
}

h3 {
	margin-top: 20px;
}

h2 {
	margin: 10px;
}

.protip {
  display: inline-block;
  margin-top: 5px;
	font-size: 0.8em;
}
