.header-bar {
	margin: 0 auto;
	padding: 1.5em 0 0 0;
	line-height: 150%;
	background-color: #98b880;
	color: #FFF;
	border-bottom: 2px solid #d9d8d0;
	height: 80px;
}

.header-bar button {
	padding: 7px;
	border-radius: 5px;
	border: 2px solid rgba(69, 66, 39, 0.5);
	color: #474439;
}

button.loginButton {
	position: absolute;
	top: 25px;
	right: 80px;
}

button.logout-button {
	position: absolute;
	top: 25px;
	right: 20px;
}

button.guide {
	position: absolute;
	right: 134px;
	top: 25px;
}

.loginButton:hover,
.logout-button:hover,
.guide:hover {
	color: #db8057;
	cursor: pointer;
}

.header {
	font-family: 'Amatic SC', cursive;
	font-size: 1.7em
}

a:link {
	text-decoration: none;
	color: #474439;
}

a:visited {
	text-decoration: none;
	color: #474439;
}

@media only screen and (max-width:500px) {
	h1.header {
		line-height: 1.1em
	}
}