.loginbox {}

.loginbox input[type="text"],
.loginbox input[type="password"] {}

.sign-up {
	box-sizing: border-box;
	background-color: #db8057;
	color: #ffffff;
	border: none;
	border-radius: 2px;
	height: 40px;
	padding: 0 5px;
	vertical-align: top;
	margin: 10px 0;
}

@media all and (max-width: 500px) {
	.sign-up {}
}

.message-login {
	margin: 15px 0 0;
	color: #db8057;
	font-size: 12px;
}

a.message-login {
	color: #db8057;
	text-decoration: none;
}